<div class="login-container">
    <div class="part1-container">
        <div class="app-title">
            <app-logo></app-logo>
            <p>NEO BANK</p>
        </div>
        <div class="login-label">
            <h1>Login</h1>
            <p>Sign in to your account and continue your journey towards financial freedom!!!</p>
        </div>
        <div class="button-google">
            <app-long-button [buttonTitle]="'Log in with Google'" [logoSrc]="'../../../assets/google2.png'"></app-long-button>
        </div>
        <p style="color: white; text-align: center; font-weight: normal; font-size: medium;">or</p>
        <div class="logVmail">
            <app-input-bar [placeholder]="'Enter your email'" [(ngModel)]="VM.email"></app-input-bar>
            <app-input-bar [placeholder]="'Enter your password'" [(ngModel)]="VM.password"></app-input-bar>
        </div>
        <p style="color: white; text-align: center; font-weight:bolder; font-size: small;">Forgot your password?</p>
        <div style="padding-top: 10%;"></div>
        <div class="button-google">
            <app-long-button [buttonTitle]="'Log In'" [bgColor]="'#3D58ED'" (click)="VM.LoginClick(VM.email, VM.password)"></app-long-button>
        </div>
        <div class="no-account-register">
            <p style="color: white; text-align: center; font-weight:normal; font-size: small;">Don't have an account?</p>
            <div style="color: #3D58ED; font-weight:bolder; font-size: small;">Register</div>
        </div>
    </div>
    <div class="part2-container">
    </div>
</div>
